src/w6/w6_flows.json
[
    {
        "id": "799492e9370d436e",
        "type": "tab",
        "label": "w6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f29b852ac172e98b",
        "type": "comment",
        "z": "799492e9370d436e",
        "d": true,
        "name": "exercise 6-1",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "d823c5ad9a453821",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "78521e5892f3388d",
                "9ca79fa99d9233ea"
            ]
        ]
    },
    {
        "id": "78521e5892f3388d",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Hello world!",
        "output": "str",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "b36eb186d5da4786"
            ]
        ]
    },
    {
        "id": "b36eb186d5da4786",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ca79fa99d9233ea",
        "type": "debug",
        "z": "799492e9370d436e",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "c29ce1ea97bd2461",
        "type": "comment",
        "z": "799492e9370d436e",
        "d": true,
        "name": "exercise 6-2",
        "info": "",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "f8100f2d04f9d7ca",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "5b5b386e5f486dfd"
            ]
        ]
    },
    {
        "id": "6e29127d930b0c1d",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "ec7de1c8b56d0cb3",
                "4f947c152dcffe87"
            ]
        ]
    },
    {
        "id": "5b5b386e5f486dfd",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "form template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Radio Buttons</h2>\n    <p>Choose your favorite candidate for Taoyuan mayor:</p>\n    <form action=\"/count\">\n        <input type=\"radio\" id=\"張善政\" name=\"fav_can\" value=\"張善政\">\n        <label for=\"Simon Chang\">張善政(Simon Chang)</label><br>\n        <input type=\"radio\" id=\"鄭寶清\" name=\"fav_can\" value=\"鄭寶清\">\n        <label for=\"Cheng Pao ching\">鄭寶清(Cheng Pao ching )</label><br>\n        <input type=\"radio\" id=\"鄭運鵬\" name=\"fav_can\" value=\"鄭運鵬\">\n        <label for=\"Cheng Yun peng\">鄭運鵬(Cheng Yun peng )</label><br><br>\n        <input type=\"submit\" value=\"Submit\">\n    </form>\n</body>\n</html>",
        "output": "str",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "a1e271564b8d40f0"
            ]
        ]
    },
    {
        "id": "a1e271564b8d40f0",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "bca9d90391c8f883",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "ec7de1c8b56d0cb3",
        "type": "debug",
        "z": "799492e9370d436e",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f947c152dcffe87",
        "type": "function",
        "z": "799492e9370d436e",
        "d": true,
        "name": "extract fav_can",
        "func": "msg.payload = msg.payload.fav_can;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "101dab6f8b87f906"
            ]
        ]
    },
    {
        "id": "101dab6f8b87f906",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "count template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You voted for {{payload}} !",
        "output": "str",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "bca9d90391c8f883"
            ]
        ]
    },
    {
        "id": "c9c2555aaf266134",
        "type": "comment",
        "z": "799492e9370d436e",
        "d": true,
        "name": "exercise 6-3",
        "info": "",
        "x": 110,
        "y": 500,
        "wires": []
    },
    {
        "id": "631823072567d8bc",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "2f721467500fa192"
            ]
        ]
    },
    {
        "id": "0d4665b1997841f9",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "33aa0b24a6dcb2c9",
                "7639d18bf6007132",
                "ec43ddc27ba67903"
            ]
        ]
    },
    {
        "id": "2f721467500fa192",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "form template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Radio Buttons</h2>\n    <p>Choose your favorite candidate for Taoyuan mayor:</p>\n    <form action=\"/count\">\n        <input type=\"radio\" id=\"張善政\" name=\"fav_can\" value=\"張善政\">\n        <label for=\"Simon Chang\">張善政(Simon Chang)</label><br>\n        <input type=\"radio\" id=\"鄭寶清\" name=\"fav_can\" value=\"鄭寶清\">\n        <label for=\"Cheng Pao ching\">鄭寶清(Cheng Pao ching )</label><br>\n        <input type=\"radio\" id=\"鄭運鵬\" name=\"fav_can\" value=\"鄭運鵬\">\n        <label for=\"Cheng Yun peng\">鄭運鵬(Cheng Yun peng )</label><br><br>\n        <input type=\"submit\" value=\"Submit\">\n    </form>\n</body>\n</html>",
        "output": "str",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "eb46d354cc51fe60"
            ]
        ]
    },
    {
        "id": "eb46d354cc51fe60",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "42f06c612c840290",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "33aa0b24a6dcb2c9",
        "type": "debug",
        "z": "799492e9370d436e",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "7639d18bf6007132",
        "type": "function",
        "z": "799492e9370d436e",
        "d": true,
        "name": "extract fav_can",
        "func": "msg.payload = msg.payload.fav_can;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "a53d4278e001fd60"
            ]
        ]
    },
    {
        "id": "a53d4278e001fd60",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "count template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You voted for {{payload}} !",
        "output": "str",
        "x": 560,
        "y": 620,
        "wires": [
            [
                "42f06c612c840290"
            ]
        ]
    },
    {
        "id": "ec43ddc27ba67903",
        "type": "function",
        "z": "799492e9370d436e",
        "d": true,
        "name": "extract context",
        "func": "var d1= 0;\nvar d2= 0;\nvar d3= 0;\nvar counter1 = context.get('counter1') || 0;\nvar counter2 = context.get('counter2') || 0;\nvar counter3 = context.get('counter3') || 0;\n\nif(msg.payload.fav_can == \"張善政\") { d1 = 1; }\nelse if (msg.payload.fav_can == \"鄭寶清\") { d2 = 1; }\nelse { d3 = 1; }\n\ncounter1 = counter1 + d1;\ncounter2 = counter2 + d2;\ncounter3 = counter3 + d3;\n\ncontext.set(\"counter1\", counter1);\ncontext.set(\"counter2\", counter2);\ncontext.set(\"counter3\", counter3);\n\nglobal.set(\"cou1\", counter1);\nglobal.set(\"cou2\", counter2);\nglobal.set(\"cou3\", counter3);\n\nmsg.payload = {\"cou1\":counter1, \"cou2\":counter2, \"cou3\":counter3};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 660,
        "wires": [
            [
                "7cc3c3b426d63836"
            ]
        ]
    },
    {
        "id": "7cc3c3b426d63836",
        "type": "debug",
        "z": "799492e9370d436e",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "d201307780394515",
        "type": "comment",
        "z": "799492e9370d436e",
        "d": true,
        "name": "exercise 6-4",
        "info": "",
        "x": 110,
        "y": 800,
        "wires": []
    },
    {
        "id": "4ed1f2728d914744",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "ff94cfd26cc7aa40"
            ]
        ]
    },
    {
        "id": "78aedbb813a54391",
        "type": "http in",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "url": "/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "b73246c8da1d22e5",
                "056ef6df7db93969",
                "4234fddcd58d2bbb"
            ]
        ]
    },
    {
        "id": "ff94cfd26cc7aa40",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "form template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Radio Buttons</h2>\n    <p>Choose your favorite candidate for Taoyuan mayor:</p>\n    <form action=\"/count\">\n        <input type=\"radio\" id=\"張善政\" name=\"fav_can\" value=\"張善政\">\n        <label for=\"Simon Chang\">張善政(Simon Chang)</label><br>\n        <input type=\"radio\" id=\"鄭寶清\" name=\"fav_can\" value=\"鄭寶清\">\n        <label for=\"Cheng Pao ching\">鄭寶清(Cheng Pao ching )</label><br>\n        <input type=\"radio\" id=\"鄭運鵬\" name=\"fav_can\" value=\"鄭運鵬\">\n        <label for=\"Cheng Yun peng\">鄭運鵬(Cheng Yun peng )</label><br><br>\n        <input type=\"submit\" value=\"Submit\">\n    </form>\n</body>\n</html>",
        "output": "str",
        "x": 340,
        "y": 860,
        "wires": [
            [
                "2d44491189b52b35"
            ]
        ]
    },
    {
        "id": "2d44491189b52b35",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 860,
        "wires": []
    },
    {
        "id": "091e7cdcfdfbd154",
        "type": "http response",
        "z": "799492e9370d436e",
        "d": true,
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 920,
        "wires": []
    },
    {
        "id": "b73246c8da1d22e5",
        "type": "debug",
        "z": "799492e9370d436e",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1000,
        "wires": []
    },
    {
        "id": "056ef6df7db93969",
        "type": "function",
        "z": "799492e9370d436e",
        "d": true,
        "name": "extract fav_can",
        "func": "msg.payload = msg.payload.fav_can;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 920,
        "wires": [
            [
                "167346d688957ced"
            ]
        ]
    },
    {
        "id": "167346d688957ced",
        "type": "template",
        "z": "799492e9370d436e",
        "d": true,
        "name": "count template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You voted for {{payload}} !",
        "output": "str",
        "x": 560,
        "y": 920,
        "wires": [
            [
                "091e7cdcfdfbd154"
            ]
        ]
    },
    {
        "id": "4234fddcd58d2bbb",
        "type": "function",
        "z": "799492e9370d436e",
        "d": true,
        "name": "extract context",
        "func": "var d1= 0;\nvar d2= 0;\nvar d3= 0;\nvar counter1 = context.get('counter1') || 0;\nvar counter2 = context.get('counter2') || 0;\nvar counter3 = context.get('counter3') || 0;\n\nif(msg.payload.fav_can == \"張善政\") { d1 = 1; }\nelse if (msg.payload.fav_can == \"鄭寶清\") { d2 = 1; }\nelse { d3 = 1; }\n\ncounter1 = counter1 + d1;\ncounter2 = counter2 + d2;\ncounter3 = counter3 + d3;\n\ncontext.set(\"counter1\", counter1);\ncontext.set(\"counter2\", counter2);\ncontext.set(\"counter3\", counter3);\n\nglobal.set(\"cou1\", counter1);\nglobal.set(\"cou2\", counter2);\nglobal.set(\"cou3\", counter3);\n\nmsg.payload = {\"cou1\":counter1, \"cou2\":counter2, \"cou3\":counter3};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 960,
        "wires": [
            [
                "599e4d6b6d4566ad"
            ]
        ]
    },
    {
        "id": "599e4d6b6d4566ad",
        "type": "debug",
        "z": "799492e9370d436e",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 960,
        "wires": []
    },
    {
        "id": "a2f889e8fc1774eb",
        "type": "inject",
        "z": "799492e9370d436e",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "539bacef10e748c8"
            ]
        ]
    },
    {
        "id": "539bacef10e748c8",
        "type": "function",
        "z": "799492e9370d436e",
        "d": true,
        "name": "extract count",
        "func": "var msg1={};\nvar msg2={};\nvar msg3={};\n\nmsg1.payload = global.get(\"cou1\");\nmsg1.topic = \"張善政\";\nmsg2.payload = global.get(\"cou2\");\nmsg2.topic = \"鄭寶清\";\nmsg3.payload = global.get(\"cou3\");\nmsg3.topic = \"鄭運鵬\";\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "9617ef8acc19cd02",
                "47dd13e7e2daa792"
            ],
            [
                "9617ef8acc19cd02",
                "47dd13e7e2daa792"
            ],
            [
                "9617ef8acc19cd02",
                "47dd13e7e2daa792"
            ]
        ]
    },
    {
        "id": "9617ef8acc19cd02",
        "type": "ui_chart",
        "z": "799492e9370d436e",
        "d": true,
        "name": "bar chart",
        "group": "92f0764028d914f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "47dd13e7e2daa792",
        "type": "ui_chart",
        "z": "799492e9370d436e",
        "d": true,
        "name": "pie chart",
        "group": "92f0764028d914f9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "3fd9b7462b209e5a",
        "type": "comment",
        "z": "799492e9370d436e",
        "name": "exercise 6-5",
        "info": "",
        "x": 110,
        "y": 1160,
        "wires": []
    },
    {
        "id": "501cb906e5fbf3f7",
        "type": "http in",
        "z": "799492e9370d436e",
        "name": "",
        "url": "/form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "62b21c3f9ab475d7"
            ]
        ]
    },
    {
        "id": "fb41e40a3fce3799",
        "type": "http in",
        "z": "799492e9370d436e",
        "name": "",
        "url": "/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "86eaa41da0cf4a36",
                "4af1b96fb575ae20",
                "c00a06c31dc1beea"
            ]
        ]
    },
    {
        "id": "62b21c3f9ab475d7",
        "type": "template",
        "z": "799492e9370d436e",
        "name": "form template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Oneline Voting System</h2>\n    <p>Choose your favorite candidate for Taoyuan mayor:</p>\n    <form action=\"/count\">\n        <input type=\"radio\" id=\"張善政\" name=\"fav_can\" value=\"張善政\">\n        <label for=\"Simon Chang\">張善政(Simon Chang)</label><br>\n        <input type=\"radio\" id=\"鄭寶清\" name=\"fav_can\" value=\"鄭寶清\">\n        <label for=\"Cheng Pao ching\">鄭寶清(Cheng Pao ching )</label><br>\n        <input type=\"radio\" id=\"鄭運鵬\" name=\"fav_can\" value=\"鄭運鵬\">\n        <label for=\"Cheng Yun peng\">鄭運鵬(Cheng Yun peng )</label><br>\n        <input type=\"radio\" id=\"陳大荃\" name=\"fav_can\" value=\"陳大荃\">\n        <label for=\"Cheng Yun peng\">陳大荃(Chen Da chuan)</label><br><br>\n        <input type=\"submit\" value=\"Submit\">\n    </form>\n</body>\n</html>",
        "output": "str",
        "x": 340,
        "y": 1220,
        "wires": [
            [
                "288e570f74cb3b83"
            ]
        ]
    },
    {
        "id": "288e570f74cb3b83",
        "type": "http response",
        "z": "799492e9370d436e",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b0dd9a93f98eed7c",
        "type": "http response",
        "z": "799492e9370d436e",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 1280,
        "wires": []
    },
    {
        "id": "86eaa41da0cf4a36",
        "type": "debug",
        "z": "799492e9370d436e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4af1b96fb575ae20",
        "type": "function",
        "z": "799492e9370d436e",
        "name": "extract fav_can",
        "func": "msg.payload = msg.payload.fav_can;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "315f20120195f760"
            ]
        ]
    },
    {
        "id": "315f20120195f760",
        "type": "template",
        "z": "799492e9370d436e",
        "name": "count template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Online Voting System</h2>\n    <p>You voted for {{payload}} !</p>\n</body>\n</html>",
        "output": "str",
        "x": 560,
        "y": 1280,
        "wires": [
            [
                "b0dd9a93f98eed7c"
            ]
        ]
    },
    {
        "id": "c00a06c31dc1beea",
        "type": "function",
        "z": "799492e9370d436e",
        "name": "extract context",
        "func": "var d1 = 0;\nvar d2 = 0;\nvar d3 = 0;\nvar d4 = 0;\n\nvar counter1 = context.get('counter1') || 0;\nvar counter2 = context.get('counter2') || 0;\nvar counter3 = context.get('counter3') || 0;\nvar counter4 = context.get('counter3') || 0;\n\nif(msg.payload.fav_can == \"張善政\") { d1 = 1; }\nelse if (msg.payload.fav_can == \"鄭寶清\") { d2 = 1; }\nelse if (msg.payload.fav_can == \"鄭運鵬\") { d3 = 1; }\nelse { d4 = 1;}\n\ncounter1 = counter1 + d1;\ncounter2 = counter2 + d2;\ncounter3 = counter3 + d3;\ncounter4 = counter4 + d4;\n\ncontext.set(\"counter1\", counter1);\ncontext.set(\"counter2\", counter2);\ncontext.set(\"counter3\", counter3);\ncontext.set(\"counter4\", counter4);\n\nglobal.set(\"cou1\", counter1);\nglobal.set(\"cou2\", counter2);\nglobal.set(\"cou3\", counter3);\nglobal.set(\"cou4\", counter4);\n\nmsg.payload = {\n                \"cou1\":counter1,\n                \"cou2\":counter2,\n                \"cou3\":counter3,\n                \"cou4\":counter4\n                };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "db881325ec6d2a2e"
            ]
        ]
    },
    {
        "id": "db881325ec6d2a2e",
        "type": "debug",
        "z": "799492e9370d436e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5c3fd9cd4836c183",
        "type": "inject",
        "z": "799492e9370d436e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "0f4d02ca4e9006dd"
            ]
        ]
    },
    {
        "id": "0f4d02ca4e9006dd",
        "type": "function",
        "z": "799492e9370d436e",
        "name": "extract count",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = global.get(\"cou1\");\nmsg1.topic = \"張善政\";\nmsg2.payload = global.get(\"cou2\");\nmsg2.topic = \"鄭寶清\";\nmsg3.payload = global.get(\"cou3\");\nmsg3.topic = \"鄭運鵬\";\nmsg4.payload = global.get(\"cou4\");\nmsg4.topic = \"陳大荃\";\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1420,
        "wires": [
            [
                "8190f10ceb436be0",
                "889ffcf68e441fdf"
            ],
            [
                "8190f10ceb436be0",
                "889ffcf68e441fdf"
            ],
            [
                "8190f10ceb436be0",
                "889ffcf68e441fdf"
            ],
            [
                "8190f10ceb436be0",
                "889ffcf68e441fdf"
            ]
        ]
    },
    {
        "id": "8190f10ceb436be0",
        "type": "ui_chart",
        "z": "799492e9370d436e",
        "name": "bar chart",
        "group": "92f0764028d914f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "889ffcf68e441fdf",
        "type": "ui_chart",
        "z": "799492e9370d436e",
        "name": "pie chart",
        "group": "92f0764028d914f9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "e8ea0c311e9c6810",
        "type": "inject",
        "z": "799492e9370d436e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1620,
        "wires": [
            [
                "9505ecaff2f36ebe"
            ]
        ]
    },
    {
        "id": "9505ecaff2f36ebe",
        "type": "function",
        "z": "799492e9370d436e",
        "name": "clear vote",
        "func": "global.set(\"cou1\", 0);\nglobal.set(\"cou2\", 0);\nglobal.set(\"cou3\", 0);\nglobal.set(\"cou4\", 0);\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1580,
        "wires": [
            [
                "01baac22b9ef5bcc"
            ]
        ]
    },
    {
        "id": "e8099d92236651f8",
        "type": "http in",
        "z": "799492e9370d436e",
        "name": "",
        "url": "/clear",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1520,
        "wires": [
            [
                "2cea462d133c1c64"
            ]
        ]
    },
    {
        "id": "b4ce234515ab91d0",
        "type": "http response",
        "z": "799492e9370d436e",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2cea462d133c1c64",
        "type": "template",
        "z": "799492e9370d436e",
        "name": "clear template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<!DOCTYPE html>\n<html>\n\n<body>\n    <h2>Oneline Voting System</h2>\n    <p>All voting stats are cleared.</p>\n    <form action=\"/status\"></form>\n</body>\n\n</html>\n",
        "output": "str",
        "x": 320,
        "y": 1520,
        "wires": [
            [
                "b4ce234515ab91d0"
            ]
        ]
    },
    {
        "id": "ceb9a88df90b4c94",
        "type": "http in",
        "z": "799492e9370d436e",
        "name": "",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "9505ecaff2f36ebe"
            ]
        ]
    },
    {
        "id": "941b321fb6cc9023",
        "type": "http response",
        "z": "799492e9370d436e",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 1580,
        "wires": []
    },
    {
        "id": "01baac22b9ef5bcc",
        "type": "template",
        "z": "799492e9370d436e",
        "name": "status template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Oneline Voting System</h2>\n    <p>All voting stats are cleared.</p>\n</body>\n</html>",
        "output": "str",
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "941b321fb6cc9023"
            ]
        ]
    },
    {
        "id": "92f0764028d914f9",
        "type": "ui_group",
        "name": "Default",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "ex6-3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]