src/node-red_flow/midterm_flows.json
[
    {
        "id": "baf2792b4e7895f4",
        "type": "tab",
        "label": "Q1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4e70155c7f4c6cc",
        "type": "tab",
        "label": "Q2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1041369001d002e1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84e33266c4bb8b75",
        "type": "firebaseCertificate",
        "firebaseurl": "iotp-fdde2-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "5e55a1f323503e3f",
        "type": "firebase config",
        "firebaseurl": "iotp-fdde2-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "7362695f88c033b1",
        "type": "firebase config",
        "firebaseurl": "iotp-fdde2-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "71e61745f36f8ef0",
        "type": "firebase config",
        "firebaseurl": "iotp-fdde2-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "92f0764028d914f9",
        "type": "ui_group",
        "name": "Q1",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48e352ea45acb63f",
        "type": "websocket-listener",
        "path": "/public/test",
        "wholemsg": "false"
    },
    {
        "id": "904a541e22c12fb5",
        "type": "ui_group",
        "name": "Q2",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "656ec2775a2af3cc",
        "type": "http in",
        "z": "baf2792b4e7895f4",
        "name": "",
        "url": "/form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "0a4c0c31cc089dec"
            ]
        ]
    },
    {
        "id": "f2dae88870b713ef",
        "type": "http in",
        "z": "baf2792b4e7895f4",
        "name": "",
        "url": "/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "580289f5a4fcd693",
                "bd4a14280870ac6f",
                "a4519ad6e4b6772a"
            ]
        ]
    },
    {
        "id": "0a4c0c31cc089dec",
        "type": "template",
        "z": "baf2792b4e7895f4",
        "name": "form template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Oneline Voting System</h2>\n    <p>Choose your favorite candidate for Taoyuan mayor:</p>\n    <form action=\"/count\">\n        <input type=\"radio\" id=\"張善政\" name=\"fav_can\" value=\"張善政\">\n        <label for=\"Simon Chang\">張善政(Simon Chang)</label><br>\n        <input type=\"radio\" id=\"鄭寶清\" name=\"fav_can\" value=\"鄭寶清\">\n        <label for=\"Cheng Pao ching\">鄭寶清(Cheng Pao ching )</label><br>\n        <input type=\"radio\" id=\"鄭運鵬\" name=\"fav_can\" value=\"鄭運鵬\">\n        <label for=\"Cheng Yun peng\">鄭運鵬(Cheng Yun peng )</label><br>\n        <input type=\"radio\" id=\"陳大荃\" name=\"fav_can\" value=\"陳大荃\">\n        <label for=\"Cheng Yun peng\">陳大荃(Chen Da chuan)</label><br>\n        <input type=\"radio\" id=\"XXX\" name=\"fav_can\" value=\"XXX\">\n        <label for=\"XXX\">XXX(X X X)</label><br>\n        <input type=\"radio\" id=\"OOO\" name=\"fav_can\" value=\"OOO\">\n        <label for=\"OOO\">OOO(O O O)</label><br>\n        <br>\n        <input type=\"submit\" value=\"Submit\">\n    </form>\n</body>\n</html>",
        "output": "str",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "7634fca064699362"
            ]
        ]
    },
    {
        "id": "7634fca064699362",
        "type": "http response",
        "z": "baf2792b4e7895f4",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "9c20cbb278c9a5eb",
        "type": "http response",
        "z": "baf2792b4e7895f4",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "580289f5a4fcd693",
        "type": "debug",
        "z": "baf2792b4e7895f4",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd4a14280870ac6f",
        "type": "function",
        "z": "baf2792b4e7895f4",
        "name": "extract fav_can",
        "func": "msg.payload = msg.payload.fav_can;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "05e08929209f51ee"
            ]
        ]
    },
    {
        "id": "05e08929209f51ee",
        "type": "template",
        "z": "baf2792b4e7895f4",
        "name": "count template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Online Voting System</h2>\n    <p>You voted for {{payload}} !</p>\n</body>\n</html>",
        "output": "str",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "9c20cbb278c9a5eb"
            ]
        ]
    },
    {
        "id": "a4519ad6e4b6772a",
        "type": "function",
        "z": "baf2792b4e7895f4",
        "name": "extract context",
        "func": "var d1 = 0;\nvar d2 = 0;\nvar d3 = 0;\nvar d4 = 0;\nvar d5 = 0;\nvar d6 = 0;\n\nvar counter1 = context.get('counter1') || 0;\nvar counter2 = context.get('counter2') || 0;\nvar counter3 = context.get('counter3') || 0;\nvar counter4 = context.get('counter4') || 0;\nvar counter5 = context.get('counter5') || 0;\nvar counter6 = context.get('counter6') || 0;\n\nif(msg.payload.fav_can == \"張善政\") { d1 = 1; }\nelse if (msg.payload.fav_can == \"鄭寶清\") { d2 = 1; }\nelse if (msg.payload.fav_can == \"鄭運鵬\") { d3 = 1; }\nelse if (msg.payload.fav_can == \"陳大荃\") { d4 = 1; }\nelse if (msg.payload.fav_can == \"XXX\") { d5 = 1; }\nelse { d6 = 1;}\n\ncounter1 = counter1 + d1;\ncounter2 = counter2 + d2;\ncounter3 = counter3 + d3;\ncounter4 = counter4 + d4;\ncounter5 = counter5 + d5;\ncounter6 = counter6 + d6;\n\ncontext.set(\"counter1\", counter1);\ncontext.set(\"counter2\", counter2);\ncontext.set(\"counter3\", counter3);\ncontext.set(\"counter4\", counter4);\ncontext.set(\"counter5\", counter5);\ncontext.set(\"counter6\", counter6);\n\nglobal.set(\"cou1\", counter1);\nglobal.set(\"cou2\", counter2);\nglobal.set(\"cou3\", counter3);\nglobal.set(\"cou4\", counter4);\nglobal.set(\"cou5\", counter5);\nglobal.set(\"cou6\", counter6);\n\nmsg.payload = {\n                \"cou1\": counter1,\n                \"cou2\": counter2,\n                \"cou3\": counter3,\n                \"cou4\": counter4,\n                \"cou5\": counter5,\n                \"cou6\": counter6\n                };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "1ee99db14ce1c20e"
            ]
        ]
    },
    {
        "id": "1ee99db14ce1c20e",
        "type": "debug",
        "z": "baf2792b4e7895f4",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "1dd9fac36d2b336a",
        "type": "inject",
        "z": "baf2792b4e7895f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "9a62c122b6afd462"
            ]
        ]
    },
    {
        "id": "9a62c122b6afd462",
        "type": "function",
        "z": "baf2792b4e7895f4",
        "name": "extract count",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\n\nmsg1.payload = global.get(\"cou1\");\nmsg1.topic = \"張善政\";\nmsg2.payload = global.get(\"cou2\");\nmsg2.topic = \"鄭寶清\";\nmsg3.payload = global.get(\"cou3\");\nmsg3.topic = \"鄭運鵬\";\nmsg4.payload = global.get(\"cou4\");\nmsg4.topic = \"陳大荃\";\nmsg5.payload = global.get(\"cou5\");\nmsg5.topic = \"XXX\";\nmsg6.payload = global.get(\"cou6\");\nmsg6.topic = \"OOO\";\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "74e5a0a799d9ca36",
                "bbda097c09d7bbb7"
            ],
            [
                "74e5a0a799d9ca36",
                "bbda097c09d7bbb7"
            ],
            [
                "74e5a0a799d9ca36",
                "bbda097c09d7bbb7"
            ],
            [
                "74e5a0a799d9ca36",
                "bbda097c09d7bbb7"
            ],
            [
                "74e5a0a799d9ca36",
                "bbda097c09d7bbb7"
            ],
            [
                "74e5a0a799d9ca36",
                "bbda097c09d7bbb7"
            ]
        ]
    },
    {
        "id": "74e5a0a799d9ca36",
        "type": "ui_chart",
        "z": "baf2792b4e7895f4",
        "name": "bar chart",
        "group": "92f0764028d914f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bbda097c09d7bbb7",
        "type": "ui_chart",
        "z": "baf2792b4e7895f4",
        "name": "pie chart",
        "group": "92f0764028d914f9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7d18fa2390515231",
        "type": "inject",
        "z": "baf2792b4e7895f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "6fd01fc58ac64491"
            ]
        ]
    },
    {
        "id": "6fd01fc58ac64491",
        "type": "function",
        "z": "baf2792b4e7895f4",
        "name": "clear vote",
        "func": "global.set(\"cou1\", 0);\nglobal.set(\"cou2\", 0);\nglobal.set(\"cou3\", 0);\nglobal.set(\"cou4\", 0);\nglobal.set(\"cou5\", 0);\nglobal.set(\"cou6\", 0);\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "172e150744854e6e"
            ]
        ]
    },
    {
        "id": "6ee008ad5deda166",
        "type": "http in",
        "z": "baf2792b4e7895f4",
        "name": "",
        "url": "/clear",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "d883f3f4df466c35"
            ]
        ]
    },
    {
        "id": "5dd99573ae1c0d46",
        "type": "http response",
        "z": "baf2792b4e7895f4",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "d883f3f4df466c35",
        "type": "template",
        "z": "baf2792b4e7895f4",
        "name": "clear template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<!DOCTYPE html>\n<html>\n\n<body>\n    <h2>Oneline Voting System</h2>\n    <p>All voting stats are cleared.</p>\n    <form action=\"/status\"></form>\n</body>\n\n</html>\n",
        "output": "str",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "5dd99573ae1c0d46"
            ]
        ]
    },
    {
        "id": "fd4f0dcacd7c0f87",
        "type": "http in",
        "z": "baf2792b4e7895f4",
        "name": "",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "6fd01fc58ac64491"
            ]
        ]
    },
    {
        "id": "6e8097517c641b80",
        "type": "http response",
        "z": "baf2792b4e7895f4",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "172e150744854e6e",
        "type": "template",
        "z": "baf2792b4e7895f4",
        "name": "status template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n    <h2>Oneline Voting System</h2>\n    <p>All voting stats are cleared.</p>\n</body>\n</html>",
        "output": "str",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "6e8097517c641b80"
            ]
        ]
    },
    {
        "id": "a524d57adecaf0bc",
        "type": "inject",
        "z": "b4e70155c7f4c6cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "7ec5643527babae1"
            ]
        ]
    },
    {
        "id": "7ec5643527babae1",
        "type": "http request",
        "z": "b4e70155c7f4c6cc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://tw.stock.yahoo.com/quote/%5EHSI",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 180,
        "wires": [
            [
                "e3fffe2fcf767c57"
            ]
        ]
    },
    {
        "id": "e3fffe2fcf767c57",
        "type": "html",
        "z": "b4e70155c7f4c6cc",
        "name": "html_HSI",
        "property": "payload",
        "outproperty": "payload",
        "tag": "#qsp-overview-realtime-info > div:nth-child(2) > div.Fx\\(n\\).W\\(316px\\).Bxz\\(bb\\).Pstart\\(16px\\).Pt\\(12px\\) > div > div > ul > li:nth-child(1) > span.Fw\\(600\\).Fz\\(16px\\)--mobile.Fz\\(14px\\).D\\(f\\).Ai\\(c\\).C\\(\\$c-trend-down\\)",
        "ret": "html",
        "as": "single",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "1c19820accd7435e",
                "d1d2620a573179ef"
            ]
        ]
    },
    {
        "id": "1c19820accd7435e",
        "type": "debug",
        "z": "b4e70155c7f4c6cc",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "2370fa689615276e",
        "type": "ui_chart",
        "z": "b4e70155c7f4c6cc",
        "name": "",
        "group": "904a541e22c12fb5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "HSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d2620a573179ef",
        "type": "function",
        "z": "b4e70155c7f4c6cc",
        "name": "function 8",
        "func": "var data = msg.payload[0];\nvar num = Math.round(parseFloat((data.slice(0,-3)).replace(',','.'))*1000);\nvar des = parseInt((data.slice(-2)))/100;\nmsg.payload = (num + des);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "2370fa689615276e",
                "1497d0fcd4f9ca88"
            ]
        ]
    },
    {
        "id": "1497d0fcd4f9ca88",
        "type": "debug",
        "z": "b4e70155c7f4c6cc",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    }
]