src/node-red_flow/w3_ex3-5_flows.json
[
    {
        "id": "e183825faf81a98b",
        "type": "tab",
        "label": "w3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "347e2fd8229a5764",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "exercise 3-5",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "58c82a0da0401dab",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "785c639acb261b07"
            ]
        ]
    },
    {
        "id": "785c639acb261b07",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "Random Number X 2",
        "func": "var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = Math.round(Math.random()*100);\nmsg1.topic = 'Line1';\n\nmsg2.payload = Math.round(Math.random() * 100);\nmsg2.topic = 'Line2';\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "b4483e651f0c6220",
                "0d175c8c28aae55d"
            ],
            [
                "0d175c8c28aae55d"
            ]
        ]
    },
    {
        "id": "b4483e651f0c6220",
        "type": "debug",
        "z": "e183825faf81a98b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d175c8c28aae55d",
        "type": "ui_chart",
        "z": "e183825faf81a98b",
        "name": "",
        "group": "96e78de87f02055f",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d38fe168be04c45a",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "13a6cba7e9ed3ffd"
            ]
        ]
    },
    {
        "id": "13a6cba7e9ed3ffd",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "Empty Chart",
        "func": "var msg = {};\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "0d175c8c28aae55d"
            ]
        ]
    },
    {
        "id": "96e78de87f02055f",
        "type": "ui_group",
        "name": "w3",
        "tab": "d77f438001bfeed3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]