src/w3/w3_flows.json
[
    {
        "id": "e183825faf81a98b",
        "type": "tab",
        "label": "w3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "347e2fd8229a5764",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "exercise 3-5",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "58c82a0da0401dab",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "785c639acb261b07"
            ]
        ]
    },
    {
        "id": "785c639acb261b07",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "Random Number X 2",
        "func": "var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = Math.round(Math.random()*100);\nmsg1.topic = 'Line1';\n\nmsg2.payload = Math.round(Math.random() * 100);\nmsg2.topic = 'Line2';\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "b4483e651f0c6220",
                "0d175c8c28aae55d"
            ],
            [
                "0d175c8c28aae55d"
            ]
        ]
    },
    {
        "id": "b4483e651f0c6220",
        "type": "debug",
        "z": "e183825faf81a98b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d175c8c28aae55d",
        "type": "ui_chart",
        "z": "e183825faf81a98b",
        "name": "",
        "group": "96e78de87f02055f",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d38fe168be04c45a",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "13a6cba7e9ed3ffd"
            ]
        ]
    },
    {
        "id": "13a6cba7e9ed3ffd",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "Empty Chart",
        "func": "var msg = {};\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "0d175c8c28aae55d"
            ]
        ]
    },
    {
        "id": "fa146e7cf5a81b36",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "exercise 3-7",
        "info": "",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "7cd5e134e72ff515",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "timestamp1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "5aa2314a587ae934"
            ]
        ]
    },
    {
        "id": "5aa2314a587ae934",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "firebase PUT",
        "func": "//msg.url = \"https://fornodered-312ce-default-rtdb.firebaseio.com/fireblog/10828241.json\"\nmsg.url = \"https://iotp-fdde2-default-rtdb.firebaseio.com/fireblog/users.json\"\nmsg.payload = { \"alanisawesome\": { \"name\": \"Alan Turing\", \"birthday\": \"June 23, 1912\" } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "44752dcd4c81aa77"
            ]
        ]
    },
    {
        "id": "44752dcd4c81aa77",
        "type": "http request",
        "z": "e183825faf81a98b",
        "name": "http request1",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "41c045ca9059e1d0"
            ]
        ]
    },
    {
        "id": "41c045ca9059e1d0",
        "type": "debug",
        "z": "e183825faf81a98b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "31d49b1b970d329f",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "timestamp3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "6bb9427ba5905753"
            ]
        ]
    },
    {
        "id": "6bb9427ba5905753",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "firebase PATCH",
        "func": "msg.method = \"PATCH\"\nmsg.url = \"https://iotp-fdde2-default-rtdb.firebaseio.com/fireblog/users.json\"\nmsg.payload = { \"alanisawesome\": { \"name\": \"Alan 1\", \"birthday\": \"June 23, 1912\" } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "5c5a13e77faa209c"
            ]
        ]
    },
    {
        "id": "5c5a13e77faa209c",
        "type": "http request",
        "z": "e183825faf81a98b",
        "name": "http request3",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 780,
        "wires": [
            [
                "41c045ca9059e1d0"
            ]
        ]
    },
    {
        "id": "73fbf9b0277ac21c",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "timestamp2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "7ca86e05f373b3d2"
            ]
        ]
    },
    {
        "id": "7ca86e05f373b3d2",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "firebase POST",
        "func": "msg.url = \"https://iotp-fdde2-default-rtdb.firebaseio.com/fireblog/users.json\"\nmsg.payload = { \"alanisawesome\": { \"name\": \"Dachuan Chen\", \"birthday\": \"June 23, 1912\" } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "a86b40fa563fc608"
            ]
        ]
    },
    {
        "id": "a86b40fa563fc608",
        "type": "http request",
        "z": "e183825faf81a98b",
        "name": "http request2",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 680,
        "wires": [
            [
                "41c045ca9059e1d0"
            ]
        ]
    },
    {
        "id": "9d1d25a527478c99",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "add and erase if exists",
        "info": "",
        "x": 220,
        "y": 620,
        "wires": []
    },
    {
        "id": "25939c9eed812dec",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "append",
        "info": "",
        "x": 170,
        "y": 720,
        "wires": []
    },
    {
        "id": "9be6ee6b8fdef831",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "alter/update",
        "info": "",
        "x": 190,
        "y": 820,
        "wires": []
    },
    {
        "id": "2d5de1259f4ce8e5",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "resource links",
        "info": "https://flows.nodered.org/node/node-red-contrib-firebase-data\nhttps://firebase.google.com/docs/database/rest/save-data",
        "x": 390,
        "y": 500,
        "wires": []
    },
    {
        "id": "a9340be26b854576",
        "type": "comment",
        "z": "e183825faf81a98b",
        "name": "exercise 3-6",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "119032bc0c806764",
        "type": "inject",
        "z": "e183825faf81a98b",
        "name": "timestamp1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "3bc8e341e7fe74bc"
            ]
        ]
    },
    {
        "id": "3bc8e341e7fe74bc",
        "type": "function",
        "z": "e183825faf81a98b",
        "name": "firebase PUT",
        "func": "msg.url = \"https://fornodered-312ce-default-rtdb.firebaseio.com/fireblog/10828241.json\"\nmsg.payload = { \"alanisawesome\": { \"name\": \"Alan Turing\", \"birthday\": \"June 23, 1912\" } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "367c571a296d68eb"
            ]
        ]
    },
    {
        "id": "367c571a296d68eb",
        "type": "http request",
        "z": "e183825faf81a98b",
        "name": "http request1",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "25dfdee38fb0b44e"
            ]
        ]
    },
    {
        "id": "25dfdee38fb0b44e",
        "type": "debug",
        "z": "e183825faf81a98b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "96e78de87f02055f",
        "type": "ui_group",
        "name": "w3",
        "tab": "d77f438001bfeed3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]