src/w11_flow/w11_flows.json
[
    {
        "id": "8b11b4b4b9dad6c2",
        "type": "tab",
        "label": "w11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21d8b0fd2fee2a9e",
        "type": "inject",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "f2047ee3f4c938dd"
            ]
        ]
    },
    {
        "id": "f1433be9a484e918",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "ex10-1",
        "info": "",
        "x": 70,
        "y": 240,
        "wires": []
    },
    {
        "id": "f2047ee3f4c938dd",
        "type": "http request",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.weatherstack.com/current?access_key=50f77dd431de3aa093eb58cd92a81396&query=New%20York",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "fd58c6fecf297e42",
                "41ac7a95162c7aed"
            ]
        ]
    },
    {
        "id": "fd58c6fecf297e42",
        "type": "debug",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "41ac7a95162c7aed",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "extract_data",
        "func": "var result = JSON.parse(msg.payload);\nvar temp = result.current.temperature;\nvar name = result.location.name;\nvar hum = result.current.humidity;\nvar uv = result.current.uv_index;\nmsg.payload = { temp: temp, name: name, hum: hum, uv: uv }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "997380ec7abc00f1"
            ]
        ]
    },
    {
        "id": "997380ec7abc00f1",
        "type": "debug",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "06f8025fc3699c53",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "generate_request_link",
        "func": "var location = ['Singapur', 'London', 'Shanghai', 'Taipei', 'Taichung', 'Taoyuan', 'New%20York']\nvar link = 'http://api.weatherstack.com/current?access_key=50f77dd431de3aa093eb58cd92a81396&query='\n\nfor (let index = 0; index < location.length; index++) {\n    var temp_link = link + location[index];\n    msg.url = temp_link;\n    node.send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "6edfed6a8d5fa194"
            ]
        ]
    },
    {
        "id": "3037cc5216189787",
        "type": "inject",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "06f8025fc3699c53"
            ]
        ]
    },
    {
        "id": "5b5541bdf3e40a12",
        "type": "debug",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "897e1e1f303fc95a",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "ex10-0",
        "info": "",
        "x": 70,
        "y": 60,
        "wires": []
    },
    {
        "id": "6edfed6a8d5fa194",
        "type": "http request",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "5b5541bdf3e40a12",
                "440d4ecaa8c62ed9"
            ]
        ]
    },
    {
        "id": "1593abee8182bbaf",
        "type": "debug",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "440d4ecaa8c62ed9",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "extract_data",
        "func": "var result = JSON.parse(msg.payload);\nvar temp = result.current.temperature;\nvar name = result.location.name;\nvar hum = result.current.humidity;\nvar uv = result.current.uv_index;\nmsg.payload = { name: name, temp: temp, hum: hum, uv: uv }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 280,
        "wires": [
            [
                "1593abee8182bbaf"
            ]
        ]
    },
    {
        "id": "1905acc36f70fb1f",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "ex10-2",
        "info": "",
        "x": 70,
        "y": 400,
        "wires": []
    },
    {
        "id": "aaf6058a73dadd54",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "ex10-3",
        "info": "",
        "x": 70,
        "y": 560,
        "wires": []
    },
    {
        "id": "28de47169b01d7df",
        "type": "ui_dropdown",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c74dbdec66489c20",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Singapur",
                "value": "Singapur",
                "type": "str"
            },
            {
                "label": "London",
                "value": "London",
                "type": "str"
            },
            {
                "label": "Shanghai",
                "value": "Shanghai",
                "type": "str"
            },
            {
                "label": "Taipei",
                "value": "Taipei",
                "type": "str"
            },
            {
                "label": "Taichung",
                "value": "Taichung",
                "type": "str"
            },
            {
                "label": "Taoyuan",
                "value": "Taoyuan",
                "type": "str"
            },
            {
                "label": "New York",
                "value": "New York",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "4a26182108f3200a",
                "902f84633f89181e"
            ]
        ]
    },
    {
        "id": "4a26182108f3200a",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "group": "c74dbdec66489c20",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 260,
        "y": 440,
        "wires": []
    },
    {
        "id": "902f84633f89181e",
        "type": "debug",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 480,
        "wires": []
    },
    {
        "id": "8b2b26358f68bfc6",
        "type": "ui_dropdown",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "6bd2979fc05525b3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Singapur",
                "value": "Singapur",
                "type": "str"
            },
            {
                "label": "London",
                "value": "London",
                "type": "str"
            },
            {
                "label": "Shanghai",
                "value": "Shanghai",
                "type": "str"
            },
            {
                "label": "Taipei",
                "value": "Taipei",
                "type": "str"
            },
            {
                "label": "Taichung",
                "value": "Taichung",
                "type": "str"
            },
            {
                "label": "Taoyuan",
                "value": "Taoyuan",
                "type": "str"
            },
            {
                "label": "New York",
                "value": "New York",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "6c1394ec772e14f7",
                "b16389c842e58f0c",
                "6b3c50b495471285"
            ]
        ]
    },
    {
        "id": "6c1394ec772e14f7",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "group": "6bd2979fc05525b3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 260,
        "y": 600,
        "wires": []
    },
    {
        "id": "b16389c842e58f0c",
        "type": "debug",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 680,
        "wires": []
    },
    {
        "id": "6b3c50b495471285",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "generate_request_link",
        "func": "var name = msg.payload;\nmsg.url = 'http://api.weatherstack.com/current?access_key=50f77dd431de3aa093eb58cd92a81396&query=' + name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "227222f416778a3a"
            ]
        ]
    },
    {
        "id": "227222f416778a3a",
        "type": "http request",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "33fb84c38150343f"
            ]
        ]
    },
    {
        "id": "33fb84c38150343f",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "extract_data",
        "func": "var result = JSON.parse(msg.payload);\nvar temp = result.current.temperature;\nvar name = result.location.name;\nvar hum = result.current.humidity;\nvar uv = result.current.uv_index;\n// msg.payload = { name: name, temp: temp, hum: hum, uv: uv }\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 640,
        "wires": [
            [
                "f3ee04f5db8d3341"
            ]
        ]
    },
    {
        "id": "f3ee04f5db8d3341",
        "type": "ui_gauge",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "group": "6bd2979fc05525b3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "34fc69bc99ef6252",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "ex10-4",
        "info": "",
        "x": 70,
        "y": 760,
        "wires": []
    },
    {
        "id": "c6a50c29a077efba",
        "type": "ui_dropdown",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "8d687db5d80d9329",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Singapur",
                "value": "Singapur",
                "type": "str"
            },
            {
                "label": "London",
                "value": "London",
                "type": "str"
            },
            {
                "label": "Shanghai",
                "value": "Shanghai",
                "type": "str"
            },
            {
                "label": "Taipei",
                "value": "Taipei",
                "type": "str"
            },
            {
                "label": "Taichung",
                "value": "Taichung",
                "type": "str"
            },
            {
                "label": "Taoyuan",
                "value": "Taoyuan",
                "type": "str"
            },
            {
                "label": "New York",
                "value": "New York",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "609883ba7bcfd8f6",
                "721757b68fa5449c"
            ]
        ]
    },
    {
        "id": "609883ba7bcfd8f6",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "group": "8d687db5d80d9329",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 260,
        "y": 800,
        "wires": []
    },
    {
        "id": "721757b68fa5449c",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "generate_request_link",
        "func": "var name = msg.payload;\nmsg.url = 'http://api.weatherstack.com/current?access_key=50f77dd431de3aa093eb58cd92a81396&query=' + name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 840,
        "wires": [
            [
                "cb1a67b160c73836"
            ]
        ]
    },
    {
        "id": "cb1a67b160c73836",
        "type": "http request",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 840,
        "wires": [
            [
                "255c493b4c5048cf"
            ]
        ]
    },
    {
        "id": "255c493b4c5048cf",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "extract_data",
        "func": "var result = JSON.parse(msg.payload);\nvar temp = result.current.temperature;\nvar name = result.location.name;\nvar hum = result.current.humidity;\nvar uv = result.current.uv_index;\nvar msgr = [];\nmsgr[0] = {payload: temp};\nmsgr[1] = {payload: hum};\nmsgr[2] = {payload: uv};\nreturn msgr;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 840,
        "wires": [
            [
                "59fad497af8509d5"
            ],
            [
                "977f232ec1995991"
            ],
            [
                "fc914de9c0240f04"
            ]
        ]
    },
    {
        "id": "59fad497af8509d5",
        "type": "ui_gauge",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "group": "8d687db5d80d9329",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 800,
        "wires": []
    },
    {
        "id": "977f232ec1995991",
        "type": "ui_gauge",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "group": "8d687db5d80d9329",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "fc914de9c0240f04",
        "type": "ui_gauge",
        "z": "8b11b4b4b9dad6c2",
        "d": true,
        "name": "",
        "group": "8d687db5d80d9329",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "uv",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "11",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 880,
        "wires": []
    },
    {
        "id": "524267aa2c3b9059",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "ex10-5",
        "info": "Token: CWB-8523DB1B-D613-401B-849E-BD0A19FAB9E6\nAPI: https://opendata.cwb.gov.tw/api/v1/rest/datastore/O-A0001-001?Authorization=CWB-8523DB1B-D613-401B-849E-BD0A19FAB9E6\n\nIntro website: https://opendata.cwb.gov.tw/dist/opendata-swagger.html#/%E8%A7%80%E6%B8%AC/get_v1_rest_datastore_O_A0001_001\n\nA0001-001: https://opendata.cwb.gov.tw/opendatadoc/DIV2/A0001-001.pdf\nA0007-001: https://opendata.cwb.gov.tw/opendatadoc/DIV3/A0007-001.pdf\n\nAccess online: https://discourse.nodered.org/t/accessing-node-red-dashboard-over-the-internet/37392/3\n\nFeatures:\n1. Option of \"location\" and \"WeatherElement\" are retrieved from return data, which is always going to be up to date.\n2. Retrieve data is identified by \"stationId\" rather than \"location\" since there are duplicates elements in \"location\".\n2. Provide current time.\n3. Provide data retrieve time.\n4. After selecting \"location\" and 'WeatherElement\", gauge below shows the retrieved data.\n5. Auto retrieve data every 10 seconds.\n6. Provide different data range accordingly.\n7. Provide different data unit accordingly.\n8. If data is unavailable, warning will be issued and display on dashboard as well.",
        "x": 70,
        "y": 940,
        "wires": []
    },
    {
        "id": "27cc235316998a40",
        "type": "inject",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "eecf5da27380cb53",
                "5a18f5ef142034ab",
                "f0cf1c940a92d622"
            ]
        ]
    },
    {
        "id": "c819da0c41913bba",
        "type": "http request",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 980,
        "wires": [
            [
                "8b5c83b77f3853b8"
            ]
        ]
    },
    {
        "id": "8b5c83b77f3853b8",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "parse_JSON",
        "func": "msg.payload = JSON.parse(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 980,
        "wires": [
            [
                "e9b6217d8a3bf15c",
                "4015bbf24ab3b6a8",
                "b55ab2b437841431"
            ]
        ]
    },
    {
        "id": "e9b6217d8a3bf15c",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "get_location_Data",
        "func": "var location_data = msg.payload.records.location;\nvar data_length = location_data.length;\nvar location_name = [];\n\nfor (let index = 0; index < data_length; index++) {\n    var temp_locationName = location_data[index].locationName;\n    var temp_cityName = location_data[index].parameter[0].parameterValue;\n    var temp_townName = location_data[index].parameter[2].parameterValue;\n    var temp_stationId = location_data[index].stationId;\n    location_name[index] = { \n        city: temp_cityName, \n        town: temp_townName, \n        location: temp_locationName, \n        id: temp_stationId\n        };\n}\n\nmsg.payload = location_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "eb5079cd97ce7301",
                "aa939b0c945fece5"
            ]
        ]
    },
    {
        "id": "eb5079cd97ce7301",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "generate_location_option",
        "func": "var data = msg.payload;\nvar option = [];\nvar location = [];\n\nfunction compare(a, b) {\n    var keya = Object.keys(a)[0];\n    var keyb = Object.keys(b)[0];\n    // node.warn(keya);\n    // node.warn(keya);\n    if ( keya < keyb ){\n        return -1;\n    } else if (keya > keyb ) {\n        return 1;\n    } else {\n        return 0;\n    }\n}\n\nfor (let index = 0; index < data.length; index++) {\n    var temp_id = data[index].id;\n    var temp_location = data[index].location;\n    var temp_name = data[index].city + '/' + data[index].town + '/'+ data[index].location;\n    var temp_obj = {};\n    temp_obj[temp_name] = temp_id;\n    option[index] = temp_obj;\n    location[index] = temp_location;\n}\n\noption = option.sort(compare);\n\nmsg.options = option;\nmsg.payload = location;\n// node.warn(msg.options);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1040,
        "wires": [
            [
                "6224c293f1b4150f",
                "96b11f608d6b2a65"
            ]
        ]
    },
    {
        "id": "6224c293f1b4150f",
        "type": "ui_dropdown",
        "z": "8b11b4b4b9dad6c2",
        "name": "location_dropdown",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "38ba91b5cc57e686",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1330,
        "y": 1040,
        "wires": [
            [
                "a214e5d5117b9677",
                "f9a72bf451b4800a",
                "d3bc17222e56b3c3"
            ]
        ]
    },
    {
        "id": "d3bc17222e56b3c3",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "group": "38ba91b5cc57e686",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1520,
        "y": 980,
        "wires": []
    },
    {
        "id": "427193e0530a7c1d",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "extract_weatherElement_value",
        "func": "var location_data = msg.payload.records.location;\nvar GlobalTemp = global.get('temp');\nvar location = GlobalTemp.location;\nvar stationId = GlobalTemp.stationId;\nvar weatherElement = GlobalTemp.weatherElement;\nvar GlobalRange = global.get('range');\nvar msg = {};\n\nfor (let i = 0; i < location_data.length; i++) {\n    var temp = location_data[i].stationId;\n    if (temp === stationId) {\n        // node.warn(temp)\n        var time = location_data[i].time.obsTime;\n        // node.warn(time);\n        var weatherElement_data = location_data[i].weatherElement;\n        for (let j = 0; j < weatherElement_data.length; j++) {\n            var temp = weatherElement_data[j].elementName;\n            if (temp === weatherElement) {\n                // node.warn(temp)\n                msg.payload = parseInt(weatherElement_data[j].elementValue);\n                msg.label = time;\n                if (temp === 'ELEV') {\n                    msg.ui_control = { min: 0, max: 3952 };\n                    msg.unit = 'meter';\n                } else if (temp === 'WDIR' || temp === 'H_XD') {\n                    msg.ui_control = { min: 0, max: 360 };\n                    msg.unit = 'angle';\n                } else if (temp === 'TEMP' || temp === 'D_TX' || temp === 'D_TN') {\n                    msg.ui_control = { min: -20, max: 45 };\n                    msg.unit = 'degree (°C)';\n                } else if (temp === 'HUMD') {\n                    msg.ui_control = { min: 0, max: 100 };\n                    msg.payload = parseFloat(weatherElement_data[j].elementValue);\n                    msg.payload = msg.payload * 100;\n                    msg.unit = 'g/kg';\n                } else if (temp === 'PRES') {\n                    msg.ui_control = { min: 950, max: 1050 };\n                    msg.unit = 'hpa';\n                } else if (temp === 'H_24R') {\n                    msg.ui_control = { min: 0, max: 3000 };\n                    msg.unit = 'millimeter'\n                } else if (temp === 'H_FX') {\n                    msg.ui_control = { min: 0, max: 61.3 };\n                    msg.unit = 'm/s'\n                } else {\n                    msg.ui_control = { min: 'N/A', max: 'N/A' };\n                }\n                if (msg.payload === -99) {\n                    msg.payload = 'Data Currently Unavailable';\n                    var warning = stationId + '/' + location + '/' + weatherElement + ' is unavailable currently.';\n                    node.warn(warning);\n                }\n                return msg;\n            }\n        }\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1440,
        "wires": [
            [
                "ade0e6d262d6b604"
            ]
        ]
    },
    {
        "id": "fb4c4a0d2e87577d",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_location",
        "func": "var GlobalTemp = global.get('temp');\nGlobalTemp.location = msg.payload;\nnode.warn(msg.payload);\nglobal.set('temp', GlobalTemp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 1100,
        "wires": [
            [
                "eb3fedb20c60ce71"
            ]
        ]
    },
    {
        "id": "eecf5da27380cb53",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "init_global",
        "func": "var GlobalTemp = {};\nGlobalTemp.api = 'https://opendata.cwb.gov.tw/api/v1/rest/datastore/O-A0001-001?Authorization=CWB-8523DB1B-D613-401B-849E-BD0A19FAB9E6';\nGlobalTemp.data = '';\nGlobalTemp.location = ''; //deprecated\nGlobalTemp.stationId = '';\nGlobalTemp.weatherElement = '';\nGlobalTemp.locationOption = ''; //deprecated\nGlobalTemp.weatherElementOption = '';\nGlobalTemp.stationIdOption = '';\nglobal.set(\"temp\", GlobalTemp);\n\nmsg.url = GlobalTemp.api;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 980,
        "wires": [
            [
                "c819da0c41913bba"
            ]
        ]
    },
    {
        "id": "4015bbf24ab3b6a8",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_data",
        "func": "var GlobalTemp = global.get('temp');\nGlobalTemp.data = msg.payload;\nglobal.set('temp', GlobalTemp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "eb3fedb20c60ce71",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "check_requirement",
        "func": "var GlobalTemp = global.get('temp');\nvar location = GlobalTemp.location;\nvar weatherElement = GlobalTemp.weatherElement;\nvar locationOption = GlobalTemp.locationOption;\nvar weatherElementOption = GlobalTemp.weatherElementOption;\nvar api = GlobalTemp.api;\n\nif (locationOption.includes(location)) {\n    var condition1 = 1;\n} else {\n    var condition1 = 0;\n}\n\nif (weatherElementOption.includes(weatherElement)) {\n    var condition2 = 1;\n} else {\n    var condition2 = 0;\n}\n\n// node.warn(condition1);\n// node.warn(condition2);\n\nif (condition1 === 1) {\n    // node.warn(\"condition1 satisfied\");\n    if (condition2 === 1) {\n        // node.warn(\"condition2 satisfied\")\n        var msg = {};\n        msg.url = api;\n        // node.warn(msg);\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1440,
        "wires": [
            [
                "5f8398aefbe6be43"
            ]
        ]
    },
    {
        "id": "5f8398aefbe6be43",
        "type": "http request",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 1440,
        "wires": [
            [
                "4f77b89fde7ddc2a"
            ]
        ]
    },
    {
        "id": "96b11f608d6b2a65",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_locationOption",
        "func": "var GlobalTemp = global.get('temp');\nGlobalTemp.locationOption = msg.payload;\nglobal.set('temp', GlobalTemp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "b55ab2b437841431",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "get_weatherElement_Data",
        "func": "var weatherElement_data = msg.payload.records.location[0].weatherElement;\nvar weatherElementLength = weatherElement_data.length;\nvar weatherElementName = [];\n\nfor (let index = 0; index < weatherElementLength; index++) {\n    weatherElementName[index] = weatherElement_data[index].elementName;\n}\n\nmsg.payload = weatherElementName;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1180,
        "wires": [
            [
                "4e4af7f5c5b3816e"
            ]
        ]
    },
    {
        "id": "4e4af7f5c5b3816e",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "generate_weatherElement_option",
        "func": "var data = msg.payload;\nvar option = [];\nvar weatherElement = [];\n\nfor (let index = 0; index < data.length; index++) {\n    var temp = data[index];\n    var temp_obj = {};\n\n    if (temp === 'ELEV') {\n        var temp_name = 'Elevation';\n    }else if (temp === 'WDIR') {\n        var temp_name = 'Wind Direction';\n    }else if (temp === 'WDSD') {\n        var temp_name = 'Wind Speed';\n    }else if (temp === 'TEMP') {\n        var temp_name = 'Temperature';\n    }else if (temp === 'HUMD') {\n        var temp_name = 'Humidity';\n    }else if (temp === 'PRES') {\n        var temp_name = 'Pressure';\n    }else if (temp === 'H_24R') {\n        var temp_name = 'Cumulative Rainfall';\n    }else if (temp === 'H_FX') {\n        var temp_name = 'Maximum Wind Speed this hour';\n    }else if (temp === 'H_XD') {\n        var temp_name = 'Maximum Wind Direction this hour';\n    }else if (temp === 'H_FXT') {\n        var temp_name = 'Maximum Wind Time this hour';\n    }else if (temp === 'D_TX') {\n        var temp_name = 'Maximum Temperature today (°C)';\n    }else if (temp === 'D_TXT') {\n        var temp_name = 'Maximum Temperature Time today';\n    }else if (temp === 'D_TN') {\n        var temp_name = 'Minimum Temperature today (°C)';\n    }else if (temp === 'D_TNT') {\n        var temp_name = 'Minimum Temperature Time today';\n    }\n\n    temp_obj[temp_name] = temp;\n    option[index] = temp_obj;\n    weatherElement[index] = temp;\n}\n\nmsg.options = option;\nmsg.payload = weatherElement;\n// node.warn(msg.options);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1180,
        "wires": [
            [
                "2c65a195eeeb9193",
                "4eda9e4677ab89a1"
            ]
        ]
    },
    {
        "id": "2c65a195eeeb9193",
        "type": "ui_dropdown",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "38ba91b5cc57e686",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1420,
        "y": 1180,
        "wires": [
            [
                "42ad94eeb20bc2de",
                "79441b9a47cd912d"
            ]
        ]
    },
    {
        "id": "42ad94eeb20bc2de",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "group": "38ba91b5cc57e686",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weather Element",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1730,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4eda9e4677ab89a1",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_weatherElementOption",
        "func": "var GlobalTemp = global.get('temp');\nGlobalTemp.weatherElementOption = msg.payload;\nglobal.set('temp', GlobalTemp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "79441b9a47cd912d",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_weatherElement",
        "func": "var GlobalTemp = global.get('temp');\nGlobalTemp.weatherElement = msg.payload;\nglobal.set('temp', GlobalTemp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1240,
        "wires": [
            [
                "eb3fedb20c60ce71"
            ]
        ]
    },
    {
        "id": "eec6195570c2a43d",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "Initialize",
        "info": " 1. Generate global data.\n 2. Get options.\n 3. Initialize dashboard.",
        "x": 130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "860c6b3ab2e0f190",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "Update Graph",
        "info": "",
        "x": 150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4f77b89fde7ddc2a",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_data",
        "func": "msg.payload = JSON.parse(msg.payload)\nvar GlobalTemp = global.get('temp');\nGlobalTemp.data = msg.payload;\nglobal.set('temp', GlobalTemp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1440,
        "wires": [
            [
                "427193e0530a7c1d"
            ]
        ]
    },
    {
        "id": "2f96e3db7f6d5250",
        "type": "inject",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "eb3fedb20c60ce71"
            ]
        ]
    },
    {
        "id": "ade0e6d262d6b604",
        "type": "ui_gauge",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "group": "38ba91b5cc57e686",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Obtain Time: {{label}}",
        "label": "{{unit}}",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 1440,
        "wires": []
    },
    {
        "id": "5a18f5ef142034ab",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "group": "38ba91b5cc57e686",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "中央氣象局開放資料平臺",
        "format": "自動氣象站-氣象觀測資料",
        "layout": "col-center",
        "className": "",
        "x": 330,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f0cf1c940a92d622",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "init_dashboard",
        "func": "msg = {};\nmsg.unit = 'N/A';\nmsg.label = 'N/A';\nmsg.value = 0;\nmsg.payload = 'N/A';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "ade0e6d262d6b604",
                "d3bc17222e56b3c3",
                "42ad94eeb20bc2de"
            ]
        ]
    },
    {
        "id": "71ed0e4a495ebe41",
        "type": "ui_text",
        "z": "8b11b4b4b9dad6c2",
        "group": "38ba91b5cc57e686",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "current_time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 490,
        "y": 1180,
        "wires": []
    },
    {
        "id": "205564162fe1a6bf",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "get_time",
        "func": "var timestamp = msg.payload;\nvar date = new Date(timestamp);\nvar timestring = date.toLocaleDateString() + ' ' + date.toLocaleTimeString();\nmsg.payload = timestring;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1180,
        "wires": [
            [
                "71ed0e4a495ebe41"
            ]
        ]
    },
    {
        "id": "54ab7e54defbebb2",
        "type": "inject",
        "z": "8b11b4b4b9dad6c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "205564162fe1a6bf"
            ]
        ]
    },
    {
        "id": "84c84c45b575a425",
        "type": "comment",
        "z": "8b11b4b4b9dad6c2",
        "name": "Update time",
        "info": "",
        "x": 150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a214e5d5117b9677",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "get_location",
        "func": "var GlobalTemp = global.get('temp');\nvar locationOption = GlobalTemp.locationOption;\nvar stationIdOption = GlobalTemp.stationIdOption;\n\nnode.warn(msg.payload);\n\nfor (let index = 0; index < stationIdOption.length; index++) {\n    var temp = stationIdOption[index];\n    if (temp === msg.payload) {\n        GlobalTemp.location = locationOption[index];\n    }\n}\n\nglobal.set('temp', GlobalTemp);\n\nmsg.payload = GlobalTemp.location;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1040,
        "wires": [
            [
                "fb4c4a0d2e87577d"
            ]
        ]
    },
    {
        "id": "aa939b0c945fece5",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_stationIdOption",
        "func": "var data = msg.payload;\nvar option = [];\n\nfor (let index = 0; index < data.length; index++) {\n    var temp = data[index];\n    option[index] = temp.id;\n}\n\nvar GlobalTemp = global.get('temp');\nGlobalTemp.stationIdOption = option;\nglobal.set('temp', GlobalTemp);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "f9a72bf451b4800a",
        "type": "function",
        "z": "8b11b4b4b9dad6c2",
        "name": "set_stationId",
        "func": "var GlobalTemp = global.get('temp');\nGlobalTemp.stationId = msg.payload;\nglobal.set('temp', GlobalTemp);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "c74dbdec66489c20",
        "type": "ui_group",
        "name": "ex10-2",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bd2979fc05525b3",
        "type": "ui_group",
        "name": "ex10-3",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d687db5d80d9329",
        "type": "ui_group",
        "name": "ex10-4",
        "tab": "d77f438001bfeed3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38ba91b5cc57e686",
        "type": "ui_group",
        "name": "ex10-5",
        "tab": "d77f438001bfeed3",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]