src/w1/w1_flows.json
[
    {
        "id": "5c23054c475aeb35",
        "type": "tab",
        "label": "w1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17b123a13add2384",
        "type": "inject",
        "z": "5c23054c475aeb35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "demo event",
        "payload": "Hello",
        "payloadType": "str",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "384707358dfe2a8e",
                "cc7042af0e5e47ee"
            ]
        ]
    },
    {
        "id": "72daf0aaa307d568",
        "type": "debug",
        "z": "5c23054c475aeb35",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba5bcf91c5ac82ee",
        "type": "comment",
        "z": "5c23054c475aeb35",
        "name": "Hello world Flow 20220914",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc7042af0e5e47ee",
        "type": "change",
        "z": "5c23054c475aeb35",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Hello",
                "fromt": "str",
                "to": "2. Hello world!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "0d24f787e2ffa995"
            ]
        ]
    },
    {
        "id": "384707358dfe2a8e",
        "type": "function",
        "z": "5c23054c475aeb35",
        "name": "add world",
        "func": "if (msg.payload === 'Hello'){\n    msg.payload = '1: Hello world!'\n    return msg\n}\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "72daf0aaa307d568"
            ]
        ]
    },
    {
        "id": "0d24f787e2ffa995",
        "type": "debug",
        "z": "5c23054c475aeb35",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    }
]