src/hw/w5_flow.json
[
    {
        "id": "bf4dee7046100a4b",
        "type": "tab",
        "label": "w5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4c011d621f873a0",
        "type": "inject",
        "z": "bf4dee7046100a4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "ebb423a1a9a061bf"
            ]
        ]
    },
    {
        "id": "a2e572c177d85ec4",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-1",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "ebb423a1a9a061bf",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "hash hello",
        "func": "var cryptojs = context.global.cryptojs;\nvar Hash = cryptojs.SHA256(\"hello\");\nmsg.payload = Hash.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "dc1b92701faf34cc"
            ]
        ]
    },
    {
        "id": "dc1b92701faf34cc",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "7bebc4482c970a19",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-2",
        "info": "",
        "x": 90,
        "y": 220,
        "wires": []
    },
    {
        "id": "88bc112e94877e3d",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "hash input",
        "func": "var inputtext = msg.payload;\nvar cryptojs = context.global.cryptojs;\nvar Hash = cryptojs.SHA1(inputtext);\nmsg.payload = Hash.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "c102654622111719",
                "399bc57370e6f8ff",
                "8c0a3563ab78888b"
            ]
        ]
    },
    {
        "id": "c102654622111719",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "19efd30560fe44dd",
        "type": "ui_text_input",
        "z": "bf4dee7046100a4b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e35ecbe2c8dafc04",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "88bc112e94877e3d",
                "3255780a3f3d0acb"
            ]
        ]
    },
    {
        "id": "399bc57370e6f8ff",
        "type": "ui_text",
        "z": "bf4dee7046100a4b",
        "group": "e35ecbe2c8dafc04",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "hash",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "3255780a3f3d0acb",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "8c0a3563ab78888b",
        "type": "ui_text",
        "z": "bf4dee7046100a4b",
        "group": "e35ecbe2c8dafc04",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "title",
        "label": "",
        "format": "Press \"enter\" or \"tab\" to convert",
        "layout": "col-center",
        "className": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "6412444808f8446e",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-3",
        "info": "",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "2df4d4c2432d2ee0",
        "type": "inject",
        "z": "bf4dee7046100a4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "5d5016c8340a9c1e"
            ]
        ]
    },
    {
        "id": "5d5016c8340a9c1e",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "create block",
        "func": "var cryptojs = context.global.cryptojs;\nlet data = 0;\nlet previoiushash = '00000000000000000000000';\nconst d = new Date();\nvar timestamp = d.getTime();\nvar time = d.toDateString() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();\nvar index = 0;\n\nmsg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain/' + previoiushash + '.json';\nvar Hash = cryptojs.SHA256(previoiushash + index + data + time);\nmsg.payload = {\"index\": index, \"data\": data, \"previoushash\": previoiushash, \"time\":time, \"hash\": Hash.toString()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 540,
        "wires": [
            [
                "c5922925e771069b"
            ]
        ]
    },
    {
        "id": "c5922925e771069b",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "85f4cd3754460e53",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-4",
        "info": "",
        "x": 90,
        "y": 660,
        "wires": []
    },
    {
        "id": "e9c6511c24ace9b6",
        "type": "inject",
        "z": "bf4dee7046100a4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "173d99a91b1acb62"
            ]
        ]
    },
    {
        "id": "173d99a91b1acb62",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "create block",
        "func": "var cryptojs = context.global.cryptojs;\nlet data = 0;\nlet previoiushash = '00000000000000000000000';\nconst d = new Date();\nvar timestamp = d.getTime();\nvar time = d.toDateString() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();\nvar index = 0;\n\nmsg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain/' + previoiushash + '.json';\nvar Hash = cryptojs.SHA256(previoiushash + index + data + time);\nmsg.payload = {\"index\": index, \"data\": data, \"previoushash\": previoiushash, \"time\":time, \"hash\": Hash.toString()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "8b0d07c5ef64ee2f",
                "637d9867d3ffd9be"
            ]
        ]
    },
    {
        "id": "637d9867d3ffd9be",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 760,
        "wires": []
    },
    {
        "id": "8b0d07c5ef64ee2f",
        "type": "http request",
        "z": "bf4dee7046100a4b",
        "name": "firebase PUT",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 720,
        "wires": [
            [
                "1dbcf1ad5b4d3067"
            ]
        ]
    },
    {
        "id": "1dbcf1ad5b4d3067",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 720,
        "wires": []
    },
    {
        "id": "7c5b018bd3039b06",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-5",
        "info": "",
        "x": 90,
        "y": 880,
        "wires": []
    },
    {
        "id": "fd5ceae56e2baa20",
        "type": "inject",
        "z": "bf4dee7046100a4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "be116a2b1e439d81"
            ]
        ]
    },
    {
        "id": "be116a2b1e439d81",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "set firebase url",
        "func": "msg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 940,
        "wires": [
            [
                "c44277444ba854e4"
            ]
        ]
    },
    {
        "id": "c44277444ba854e4",
        "type": "http request",
        "z": "bf4dee7046100a4b",
        "name": "firebase GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 940,
        "wires": [
            [
                "6fd3f2efe473af1a",
                "722677ddf45c30ae"
            ]
        ]
    },
    {
        "id": "722677ddf45c30ae",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "6fd3f2efe473af1a",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "get hash",
        "func": "var revstr = msg.payload;\nvar obj = JSON.parse(revstr);\nvar revvalues = Object.values(obj);\nvar len = revvalues.length;\nvar lastvalue = revvalues[len - 1];\nmsg.payload = lastvalue.hash;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 940,
        "wires": [
            [
                "0db478207a1bd91a"
            ]
        ]
    },
    {
        "id": "0db478207a1bd91a",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 940,
        "wires": []
    },
    {
        "id": "004c6edd85d4021b",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-6",
        "info": "",
        "x": 90,
        "y": 1100,
        "wires": []
    },
    {
        "id": "779f017a8c96f40f",
        "type": "inject",
        "z": "bf4dee7046100a4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "77f3a4b9c1c71f72"
            ]
        ]
    },
    {
        "id": "77f3a4b9c1c71f72",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "set firebase url",
        "func": "msg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "fe55b999f960b524"
            ]
        ]
    },
    {
        "id": "fe55b999f960b524",
        "type": "http request",
        "z": "bf4dee7046100a4b",
        "name": "firebase GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "722b67bdc3ec1af1",
                "9ca0d8fc9cf4940d"
            ]
        ]
    },
    {
        "id": "722b67bdc3ec1af1",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "create next block",
        "func": "// retrieve last hash\nvar revstr = msg.payload;\nvar obj = JSON.parse(revstr);\nvar revvalues = Object.values(obj);\nvar len = revvalues.length;\nvar lastvalue = revvalues[len - 1];\nvar previoushash = lastvalue.hash;\n\n// generate new block\nvar cryptojs = context.global.cryptojs;\nlet data = Math.round((Math.random()*100));\nconst d = new Date();\nvar timestamp = d.getTime();\nvar time = d.toDateString() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();\nvar index = len;\n\nmsg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain/' + timestamp + '.json';\nvar Hash = cryptojs.SHA256(previoushash + index + data + time);\nmsg.payload = { \"index\": index, \"data\": data, \"previoushash\": previoushash, \"time\": time, \"hash\": Hash.toString() };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1160,
        "wires": [
            [
                "722fe3e7e4c97003"
            ]
        ]
    },
    {
        "id": "9ca0d8fc9cf4940d",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1200,
        "wires": []
    },
    {
        "id": "722fe3e7e4c97003",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "83ea6fa0e680a0ab",
        "type": "comment",
        "z": "bf4dee7046100a4b",
        "name": "Exercise 5-7",
        "info": "",
        "x": 90,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d06efc61dba796ef",
        "type": "inject",
        "z": "bf4dee7046100a4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1380,
        "wires": [
            [
                "7204bed1b8b8a900"
            ]
        ]
    },
    {
        "id": "7204bed1b8b8a900",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "set firebase url",
        "func": "msg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "9ab649484bcb5a20"
            ]
        ]
    },
    {
        "id": "9ab649484bcb5a20",
        "type": "http request",
        "z": "bf4dee7046100a4b",
        "name": "firebase GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 1380,
        "wires": [
            [
                "7fddd0d4f86cf08e",
                "df3c4a0b917eee08"
            ]
        ]
    },
    {
        "id": "7fddd0d4f86cf08e",
        "type": "function",
        "z": "bf4dee7046100a4b",
        "name": "create next block",
        "func": "// retrieve last hash\nvar revstr = msg.payload;\nvar obj = JSON.parse(revstr);\nvar revvalues = Object.values(obj);\nvar len = revvalues.length;\nvar lastvalue = revvalues[len - 1];\nvar previoushash = lastvalue.hash;\n\n// generate new block\nvar cryptojs = context.global.cryptojs;\nlet data = Math.round((Math.random()*100));\nconst d = new Date();\nvar timestamp = d.getTime();\nvar time = d.toDateString() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();\nvar index = len;\n\nmsg.url = 'https://iotp-fdde2-default-rtdb.firebaseio.com/' + 'blockchain/' + timestamp + '.json';\nvar Hash = cryptojs.SHA256(previoushash + index + data + time);\nmsg.payload = { \"index\": index, \"data\": data, \"previoushash\": previoushash, \"time\": time, \"hash\": Hash.toString() };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "af4468792f1f48bf",
                "ba3c2f5d89499912"
            ]
        ]
    },
    {
        "id": "df3c4a0b917eee08",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1420,
        "wires": []
    },
    {
        "id": "af4468792f1f48bf",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ba3c2f5d89499912",
        "type": "http request",
        "z": "bf4dee7046100a4b",
        "name": "firebase PUT",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1380,
        "wires": [
            [
                "0a9912cce684727c"
            ]
        ]
    },
    {
        "id": "0a9912cce684727c",
        "type": "debug",
        "z": "bf4dee7046100a4b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e35ecbe2c8dafc04",
        "type": "ui_group",
        "name": "SHA1 Convertion",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]