src/w10/w10_flows.json
[
    {
        "id": "b71fe5988a61e1e2",
        "type": "tab",
        "label": "w10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1529223de6d7d44",
        "type": "inject",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "9d99f8744c969a11"
            ]
        ]
    },
    {
        "id": "9d99f8744c969a11",
        "type": "http request",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.190.185/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "e9922b52599bd2a5"
            ]
        ]
    },
    {
        "id": "e9922b52599bd2a5",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "93cf054a847f32bd",
        "type": "comment",
        "z": "b71fe5988a61e1e2",
        "name": "exercise 9-3",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "2959ab6d7045c5d3",
        "type": "inject",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "89870d1fe127156d"
            ]
        ]
    },
    {
        "id": "89870d1fe127156d",
        "type": "http request",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.190.185/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "e4bd5e03cbc94384"
            ]
        ]
    },
    {
        "id": "e4bd5e03cbc94384",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "5f6a6de63cbbdbcf",
        "type": "comment",
        "z": "b71fe5988a61e1e2",
        "name": "exercise 9-4",
        "info": "",
        "x": 110,
        "y": 220,
        "wires": []
    },
    {
        "id": "099287d1318de674",
        "type": "inject",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "af932d59bd1973f8"
            ]
        ]
    },
    {
        "id": "af932d59bd1973f8",
        "type": "http request",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.190.185/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 420,
        "wires": [
            [
                "d1735f9ce55c614f"
            ]
        ]
    },
    {
        "id": "d1735f9ce55c614f",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "ca41e20a2a2bd2cd",
        "type": "comment",
        "z": "b71fe5988a61e1e2",
        "name": "exercise 9-5",
        "info": "",
        "x": 110,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f1ec83d9af2cf7c",
        "type": "inject",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "84f2ad93211f449c"
            ]
        ]
    },
    {
        "id": "84f2ad93211f449c",
        "type": "http request",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.190.185/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 560,
        "wires": [
            [
                "b10cd1a3511276a1",
                "7e42efe53d117c79"
            ]
        ]
    },
    {
        "id": "7e42efe53d117c79",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 620,
        "wires": []
    },
    {
        "id": "79b1f8abb5dbd3fa",
        "type": "comment",
        "z": "b71fe5988a61e1e2",
        "name": "exercise 9-6",
        "info": "",
        "x": 110,
        "y": 500,
        "wires": []
    },
    {
        "id": "b10cd1a3511276a1",
        "type": "function",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "string2int",
        "func": "msg.payload = Number.parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "e2e17446e30cfdb6",
                "6f819344626d1411"
            ]
        ]
    },
    {
        "id": "e2e17446e30cfdb6",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "6f819344626d1411",
        "type": "ui_chart",
        "z": "b71fe5988a61e1e2",
        "d": true,
        "name": "",
        "group": "92f0764028d914f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "713b5273c6500fa6",
        "type": "inject",
        "z": "b71fe5988a61e1e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "76d094bc2f0129c1"
            ]
        ]
    },
    {
        "id": "76d094bc2f0129c1",
        "type": "http request",
        "z": "b71fe5988a61e1e2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.190.185/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 760,
        "wires": [
            [
                "3fa5ad600811e98d",
                "d78fb92d242eb0ab"
            ]
        ]
    },
    {
        "id": "d78fb92d242eb0ab",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "7bf7a56ee884eea0",
        "type": "comment",
        "z": "b71fe5988a61e1e2",
        "name": "exercise 9-7",
        "info": "",
        "x": 110,
        "y": 700,
        "wires": []
    },
    {
        "id": "3fa5ad600811e98d",
        "type": "function",
        "z": "b71fe5988a61e1e2",
        "name": "payload_handeling",
        "func": "var data = msg.payload.split(',');\nvar msgr = [];\n\nfor (var i in data) {\n    data[i] = Number.parseInt(data[i]);\n    msgr[i]  = {payload: data[i]};\n}\n\nreturn msgr;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 760,
        "wires": [
            [
                "1e6051dc6884fcec",
                "2d11260d202233a9"
            ],
            [
                "e326e31f0e365f25",
                "745a4f4964b78686"
            ],
            [
                "a630a2c4c2db70b2",
                "9774512c5aec2bf8"
            ]
        ]
    },
    {
        "id": "1e6051dc6884fcec",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 880,
        "wires": []
    },
    {
        "id": "2d11260d202233a9",
        "type": "ui_chart",
        "z": "b71fe5988a61e1e2",
        "name": "",
        "group": "92f0764028d914f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e326e31f0e365f25",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 920,
        "wires": []
    },
    {
        "id": "a630a2c4c2db70b2",
        "type": "debug",
        "z": "b71fe5988a61e1e2",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "745a4f4964b78686",
        "type": "ui_chart",
        "z": "b71fe5988a61e1e2",
        "name": "",
        "group": "117842c2c16daa6d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "light dependent resistor A",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9774512c5aec2bf8",
        "type": "ui_chart",
        "z": "b71fe5988a61e1e2",
        "name": "",
        "group": "e8b57844995bea91",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "light dependent resistor B",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "92f0764028d914f9",
        "type": "ui_group",
        "name": "EX9-7 TEMP",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "117842c2c16daa6d",
        "type": "ui_group",
        "name": "EX9-7 LDRA",
        "tab": "d77f438001bfeed3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8b57844995bea91",
        "type": "ui_group",
        "name": "EX9-7 LDRB",
        "tab": "d77f438001bfeed3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77f438001bfeed3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]