src/w2_flows.json
[
    {
        "id": "5230c72.fadcf38",
        "type": "tab",
        "label": "w2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0bf6402.d175a8",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "Fire every 5 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "921d08ca.121d78"
            ]
        ]
    },
    {
        "id": "921d08ca.121d78",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Generate random number",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "d03d8fff.136",
                "92719f03.32a6c",
                "c469569a.e204a8",
                "187cb5bb.bf58d2",
                "d9e7add1138d8966"
            ]
        ]
    },
    {
        "id": "b28712f8.be7bb",
        "type": "ui_slider",
        "z": "5230c72.fadcf38",
        "name": "Use Slider to input values",
        "label": "",
        "tooltip": "",
        "group": "e638b37.019e95",
        "order": 1,
        "width": "",
        "height": "",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "",
        "className": "",
        "x": 175,
        "y": 163,
        "wires": [
            [
                "921d08ca.121d78"
            ]
        ]
    },
    {
        "id": "c469569a.e204a8",
        "type": "ui_text",
        "z": "5230c72.fadcf38",
        "group": "e638b37.019e95",
        "order": 1,
        "width": "",
        "height": "",
        "name": "Data output:",
        "label": "",
        "format": " {{msg.payload}}",
        "layout": "",
        "className": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "92719f03.32a6c",
        "type": "ui_gauge",
        "z": "5230c72.fadcf38",
        "name": "Gauge",
        "group": "e638b37.019e95",
        "order": 1,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 166,
        "wires": []
    },
    {
        "id": "d03d8fff.136",
        "type": "ui_chart",
        "z": "5230c72.fadcf38",
        "name": "",
        "group": "e638b37.019e95",
        "order": 1,
        "width": "",
        "height": "",
        "label": "",
        "chartType": "line",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "187cb5bb.bf58d2",
        "type": "ui_template",
        "z": "5230c72.fadcf38",
        "group": "e638b37.019e95",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<html>\n    <body>\n        <h1>This is s10828241's ex2-1</h1>\n        <p>My name is Dachuan-Chen</p>\n    </body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "226ad9487105ed96",
        "type": "comment",
        "z": "5230c72.fadcf38",
        "name": "exercise2-1&2",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "d9e7add1138d8966",
        "type": "ui_template",
        "z": "5230c72.fadcf38",
        "group": "e638b37.019e95",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n\n<body>\n\n    <canvas id=\"canvas\" width=\"400\" height=\"400\" style=\"background-color:#333\">\n    </canvas>\n\n    <script>\n        var canvas = document.getElementById(\"canvas\");\nvar ctx = canvas.getContext(\"2d\");\nvar radius = canvas.height / 2;\nctx.translate(radius, radius);\nradius = radius * 0.90\nsetInterval(drawClock, 1000);\n\nfunction drawClock() {\n  drawFace(ctx, radius);\n  drawNumbers(ctx, radius);\n  drawTime(ctx, radius);\n}\n\nfunction drawFace(ctx, radius) {\n  var grad;\n  ctx.beginPath();\n  ctx.arc(0, 0, radius, 0, 2*Math.PI);\n  ctx.fillStyle = 'white';\n  ctx.fill();\n  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);\n  grad.addColorStop(0, '#333');\n  grad.addColorStop(0.5, 'white');\n  grad.addColorStop(1, '#333');\n  ctx.strokeStyle = grad;\n  ctx.lineWidth = radius*0.1;\n  ctx.stroke();\n  ctx.beginPath();\n  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);\n  ctx.fillStyle = '#333';\n  ctx.fill();\n}\n\nfunction drawNumbers(ctx, radius) {\n  var ang;\n  var num;\n  ctx.font = radius*0.15 + \"px arial\";\n  ctx.textBaseline=\"middle\";\n  ctx.textAlign=\"center\";\n  for(num = 1; num < 13; num++){\n    ang = num * Math.PI / 6;\n    ctx.rotate(ang);\n    ctx.translate(0, -radius*0.85);\n    ctx.rotate(-ang);\n    ctx.fillText(num.toString(), 0, 0);\n    ctx.rotate(ang);\n    ctx.translate(0, radius*0.85);\n    ctx.rotate(-ang);\n  }\n}\n\nfunction drawTime(ctx, radius){\n    var now = new Date();\n    var hour = now.getHours();\n    var minute = now.getMinutes();\n    var second = now.getSeconds();\n    //hour\n    hour=hour%12;\n    hour=(hour*Math.PI/6)+\n    (minute*Math.PI/(6*60))+\n    (second*Math.PI/(360*60));\n    drawHand(ctx, hour, radius*0.5, radius*0.07);\n    //minute\n    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));\n    drawHand(ctx, minute, radius*0.8, radius*0.07);\n    // second\n    second=(second*Math.PI/30);\n    drawHand(ctx, second, radius*0.9, radius*0.02);\n}\n\nfunction drawHand(ctx, pos, length, width) {\n    ctx.beginPath();\n    ctx.lineWidth = width;\n    ctx.lineCap = \"round\";\n    ctx.moveTo(0,0);\n    ctx.rotate(pos);\n    ctx.lineTo(0, -length);\n    ctx.stroke();\n    ctx.rotate(-pos);\n}\n    </script>\n\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e638b37.019e95",
        "type": "ui_group",
        "z": "5230c72.fadcf38",
        "name": "Dashboard Demo",
        "tab": "84499b6b.8ac208",
        "order": 1,
        "disp": true,
        "width": "10"
    },
    {
        "id": "84499b6b.8ac208",
        "type": "ui_tab",
        "z": "5230c72.fadcf38",
        "name": "Home",
        "icon": "dashboard",
        "order": "1"
    }
]